.Cart{
    /* width: 100%; */
    height:min-content;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 10px;
}

.CartOutline {
    display: flex;
    border: 2px solid #674188;
    height: min-content;
    background-color: #b39bde;
    border-radius: 0.3rem;
    width: 80%;
    justify-content: center;
    flex-direction: column;
}
.CartItem{
    height: fit-content;
    border-bottom: 2px dashed #674188;
    bottom: 2px;
    display: inline-flex;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
    align-items: center;
}

.Delete{
    cursor: pointer;
}

.CartTotal {
    margin-right: 10px;
    justify-content: end;
    align-items: end;
}

.CheckoutBTN{
    width: fit-content;
    display: inline;
    height: fit-content;
    margin-left: 10px;
}

.CheckoutBTN:disabled {
    cursor:not-allowed;
}

.CartCheckoutOutline {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
