.AddCouponBTN {
    /* display: flex; */
    justify-content: end;

}
.AddCouponBTN:active {
    transform: translateY(4px);;
}
.AddCouponContent {
    padding: 5px;
    display: flex;
    align-items: center;
}

.AddIcon {
    width: 24px;
    height: 24px;
    margin-right: 3px;
}

.UserFunctions {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.AdminCoupons{
    display: flex;
}
