.CouponItem{
    border: 4px dashed rgb(221, 160, 221);
    width: 100%;
    max-width: 250px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 1rem;
    box-sizing: border-box;
    margin: 5px;
}

.EditIconContainer{

    cursor: pointer;
}

.EditIconContent{
    margin-left: 5px;
}

.EditIconContent:hover {
    color:rgb(149, 88, 149);
}

.DeleteIconContent{
    margin-left: 5px;
}

.DeleteIcon{
    width: 24px;
    height: 24px;
}
.DeleteIconContent:hover {
    color: rgb(149, 88, 149);
}

.SettingsIocnContainer {
    display: flex;
    width: 100%;
    position: relative;
}